body{
	background-color: #fff1a4;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 50%;
}
.a1 {
	display: inline-flex;
	margin-top: 1%;
	border: 2px solid;
	border-color: black;
	border-radius: 10px;
	background-color: seagreen;
	:visited; color: black;
	font-size: 250%;
	font-style: italic;
	font-family: cursive;
	text-decoration: none;
	padding: 1%;

	}

.img0{
	width: 15%;
	border: solid 2px;
	border-color: black;
	margin-top: -10px;
	border-radius: 10px;
}

.caja1 {
	background-color: sandybrown;
	margin: 5% 10% 10% 10%;
	padding: 10px;
	border: 2px solid;
	border-color: black;
	border-radius: 100px;
}


.textotabla1{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 35px;
	color: green;
	-webkit-text-stroke:2px black;
	margin-top: 60px;
}
.textop{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 26px;
	-webkit-text-stroke: 2px;
}

.concimg {
	width: 90%;
	margin-bottom: 30px;
	border: 3px solid green;
	border-radius: 30px;
	outline: 3px solid black;
}

.a2 {
	margin-bottom: 10%;
	margin-left: 5%;
	margin-right: 5%;
	border: 3px solid saddlebrown;
	border-radius: 5px;
	outline: 2px solid black;
	font-size: 30px;
	background-color: green;
	text-decoration: none;
	color: green;
	-webkit-text-stroke: 2px black;
	padding: 5px;

}