body{
	background-color: #fff1a4;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 33%;
}

.imagenEcompostMini {	
	display: inline-block;
	width: 15%;
	border: solid 2px;
	border-color: black;
	border-radius: 10px;
	margin-left: 7px;
	margin-top: -10px;
}

.MenuDeNavegacion {
	width: 100%;
}

.textoMenuDeNavegacion {
	display: inline-flex;
	margin-top: 1%;
	border: 2px solid;
	border-color: black;
	border-radius: 10px;
	background-color: seagreen;
	font-size: 250%;
	font-style: italic;
	font-family: cursive;
	text-decoration: none;
	padding: 1%;
}

.contenedorPrincipal {

		display: block;
		-webkit-text-stroke: 1px black;
		font-size: 180%;
		background-color: darkgreen;
		border: 4px solid;
		border-color: black;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom:10%;
		border-radius: 20px;
		margin: 5% 10% 10% 10%;
}

.arregloNequi {	
		padding-top: 50px;
		padding-bottom: 30px;
		background-color: rebeccapurple;
		border-radius: 100px;
		margin-top: 30px;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 50px;
		border: 4px solid;
		border-radius: 20px;
}

.arregloimg {
	width: 65%;
}

.texto {
	font-size: 150%;
}

a {
	color: black;
}

a:visited {
	color: black;
}